* {
    padding: 0;
    margin: 0;
}

:root {
    --title-size: 48px;
    --header-size: 24px;
    --body-size: 15px;
}

body {
    font-family: sans-serif;
    background-color: #FADCC0;
}

header {
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    box-sizing: border-box;
}

header p {
    font-size: var(--header-size);
    font-weight: bold;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #FADCC0;
    z-index: 99;
}

.preloader .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.preloader .content button {
    outline: none;
    border: none;
    background-color: transparent;
    margin-top: 40px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.preloader .content h1 {
    font-size: var(--title-size);
}

.progress {
    width: 100%;
    height: 7px;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
}

.progress .bar {
    position: absolute;
    top: 0;
    height: 7px;
    width: 0%;
    background-color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s ease;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    align-items: center;
}

@keyframes image {
    0%{
        transform: rotate(180deg);
        opacity: 0;
        width: 10%;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
        width: 80%;
    }
}

.container img {
    width: 80%;
    display: block;
    margin: auto;
}

.container img.active {
    animation: image 3000ms ease-in;
}

@keyframes slideLeft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

.container h1 {
    font-size: var(--title-size);
    animation: slideLeft 300ms;
}

footer {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: var(--body-size);
}

#line {
    position: fixed;
    height: 80%;
    top: 50%;
    left: 17px;
    transform: translate(-0, -50%);
}

@media (max-width: 768px) {
    :root {
        --title-size: 32px;
        --header-size: 18px;
        --body-size: 13px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .container div:nth-child(2) {
        grid-row-start: 1;
    }
}